// Mixins Here

//everything for button



.center (){
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
  }




//parametric mixin

  .button-maker(@width, @height, @bg-color, @font-color, @font-size) {
    .center ();
    .border-radius(10px);
      width: @width;
      height: @height;
      background-color: @bg-color;
      color: @font-color;
      font-size: @font-size;
      cursor: pointer;

      @media @mobile {
          width: 100%;
          height: 100px;
      }
      

      &:hover {
          background: @font-color;
          color: @bg-color;
      }
  }