// Navigation code here

.main-navigation {
    width: 100%;
    background-color: @nav-bg;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid @main-border-color;

    .nav {
        .center();
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        margin-right: 160px;
        margin-left: 160px;

        @media @mobile {
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            
        }
        
    }
    

    .logo-heading {
        color: @river-bend;
        font-size: 4rem;
        padding-bottom: 10px;
        .center();

    }

    .nav-link {
        color: @main-font-color;
        text-decoration: none;
        font-size: 1.6rem;
        padding: 15px;
       

    }

}